@model SHPOT_ViewModel.UserVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reset Password";
}

<h3>Reset Password</h3>
<hr />
<span class="text-success">@ViewBag.SuccessMessage</span>

<span class="text-danger">@ViewBag.UnSuccessMessage</span>

@if (ViewBag.ShowForm)
{
    using (Html.BeginForm("ResetUserPassword", "UserEmail", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        Html.EnableClientValidation(true);

        <div class="form-horizontal">
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ResetToken)

            <div class="form-group">
                <span class="control-label col-md-2">New Password</span>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2">Confirm Password</span>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}